@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueCyr-Medium.otf");
}

body {
  font-family: "Helvetica Neue";
  font-size: 14px; 
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1028px;
}

.nav {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url("../img/bgmenu.jpg");
  background-repeat: repeat;
  display: block;
  width: 100%;
  height: 36px;
}

.container {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.menu {
  margin: 0 auto;
  padding: 0;
  position: relative;
  margin-left: 250px;
  float: left;
  width: auto;
  height: 32px;
  border-right: 1px solid #56a2dc;
}

.menu li {
  float: left;
  position: relative;
  line-height: 36px; 
  list-style-type: none;
}

.menu li a {
  display: block;
  padding: 0px;
  text-decoration: none;
  color: #60b5ed;
  padding: 0px 10px 0px 12px;
}

.menu .active:hover {
  margin: 0;
  background-color: #4eabda;
}

.menu .active a:hover {
  margin: 0;
  color: #ffffff;
}

.menu2 { 
  list-style: none;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: block;
  float: left;
  width: auto;
  height: auto; 
}

.menu2 li {
  float: left;
  position: relative;
  display: block;
  line-height: 36px; 
  list-style-type: none;
  color: #ffffff;
  padding: 0px 10px 0px 12px;
  margin-left: 1px;
  margin-right: 1px;
}

.menu2 li a {
  text-decoration: none;
  color: #ffffff;
}

.menu2 li a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.menu2 li:hover {
  margin: 0;
  background: linear-gradient(to top, #2e7ac4, #51b1dc);
  border-bottom: 1px solid #489bd5;
  border-left: 1px solid #489bd5;
  border-right: 1px solid #489bd5;
}

.flag {
  float: left;
  position: relative;
  margin-top: 2px;
  padding: 4px 12px 4px 18px; 
}

form {
  position: absolute;
  width: 560px;
  height: 613px;
  left:50%;
  top:50%;
  margin: -307px 0 0 -280px;
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  position: relative;
  margin: 0px;
  border-bottom: 2px solid #a9b6a2;
  padding-top: 22px;
  padding-bottom: 22px;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
}

.button {
  margin: 0;
  margin-top: 37px;
  margin-left: 142px;
  position: relative;
  width: 278px;
  height: 37px;
}

.button a:active {
  cursor: progress;
}

.line {
  position: relative;
  float: left;
  margin-top: 37px;
  margin-left: 142px;
  height: auto;
  width: 123px;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #666666;
}

.ou {
  position: relative;
  float: left;
  margin: 30px 0 30px 6px;
  height: auto;
  width: 20px;
  color: #999999;
}

.line2 {
  position: relative;
  float: right;
  margin: 0;
  margin-top: 37px;
  margin-right: 142px;
  height: auto;
  width: 123px;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #666666;
}

.shadow {
	width: 257px;
	height: 35px;
	padding: 0px 0px 0px 19px;
	margin-bottom: 15px;
	margin-left: 142px;
	border: none;
	border-bottom: 1px solid #494949;
	background: #000000;
	color: #cccccc;
}

.shadow:focus {
	background: #1b5288;
  border: 0;
  outline: 0;
  box-shadow: 0px 0px 12px 2px rgba(105, 156, 205, 0.79);
}

.check {
  display: block;
  width: 276px;
  margin: 0 auto;
  text-align: left;
  color: #adacaa;
}

.check input{
  position: relative;
  top: 2px;
}

.btn {
  position: absolute;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 152px;
  height: auto;
  background: linear-gradient(to top, #2e7ac4, #4faddb);
  border: 1px solid #3686ca;
  box-shadow: 0px 0px 5px rgba(73, 97, 190, 1);
  border-radius: 3px;
  color: #ffffff;
  text-align: center;
  display: inline-block;
  margin-top: 22px;
  margin-left: 206px;
 }

.btn:hover, .btn:active {
    cursor: pointer; 
}

footer {
  margin: 0;
  margin-left: 123px;
  margin-top: 78px;
  position: absolute;
  width: 310px;
  height: 30px;
  text-align: center;
  display: block;
  color: #ffffff;
  font-size: 10px;
}
